/* CSS for Home.js */


/* circular images */
.home-circ-img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
  }
  @media (max-width: 768px) {
    .home-circ-img {
      height: 120px;
      width: 120px;
    }
  }
  
  .home-sq-img {
    border-radius: 5px;
    height: 200px;
    width: 200px;
  }
  @media (max-width: 768px) {
    .home-sq-img {
      height: 160px;
      width: 160px;
    }
  
  }

  /* introduction section container */
  .intro-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    background-color: #252c35;
    border-bottom: 2px black solid;
    color: white;
  }

  /* sec1 button */
  .home-btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 20px;
  }

  /* sec1 | sec2 spacer */
  .spacer-15 {
    width: 1px;
    height: 15px;
    display: block;
    clear: both;
  }

  /* line for first section */
.sec-margin {
  margin-bottom: 100px;
  
}
.line-solid {
  clear: both;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px
}
@media (min-width: 992px) {
  .line-solid {
    display: none;
  }
}


/* SECTION 1 */
.p1-box {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 340px;
  height: 300px;
  margin-top: 16px;
  
  padding: 0 25px;
  

  font-family: sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  line-height: 27px;
  text-size-adjust: 100%;
}
@media (max-width: 1200px) {
  .p1-box{
    width: 323.33px;
    height: 325px;
  }
}
@media (max-width: 992px){
  .p1-box {
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 22.8571px;
  }
}

@media (max-width: 728px){
  .p1-box{
    width: auto;
    font-size: 14px;
    line-height: 20px;
  }
}

.p1-cont {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red;
}
@media (max-width: 1200px){
  .p1-cont {
    width: 992px;
  }
}
@media(max-width: 992px) {
  .p1-cont{
    width: auto;
  }
}


/* SECTION 2 */

/* featurette for coloring and breaking */
.featurette {
  width: 1200px;

  padding: 60px 0;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red;
}
/* public sector */
.featurette:first-of-type {
  background-color: #f8f8f8;

  border-top: 1px solid #eee;
}
/* health and medical */
.featurette:nth-of-type(even) {
  background-color: #f1f1f1;

  border-color: #e8e8e8;
  border-style: solid;
  border-width: 1px 0;
}
/* sports and entertainment */
.featurette:last-of-type {
  background-color: #f8f8f8;

  border-bottom: 1px solid #eee;
}

/* featurette width breakpoints */


@media (max-width: 1200px) {
  .featurette {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .featurette {
    width: 728px;
  }
}
@media (max-width: 728px) {
  .featurette {
    width: auto;
  }
}


/* description container */
.sec2-1 {
  text-align: left;
  border: 1px solid red;
  padding: 60px 0;
}
.sec2-2 {
  text-align: left;
  border: 1px solid red;
  padding: 60px 0;
}

/* paragraph container */
.p2-box {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;

  font-family: sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  line-height: 27px;
  text-size-adjust: 100%;

}

.p2b-box {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;

  font-family: sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  line-height: 27px;
  text-size-adjust: 100%;
}

@media (max-width: 728px){
  .p2-box, .p2b-box{
    width: auto;
    font-size: 14px;
    line-height: 20px;
  }
}