/* my css */


/* PAGE SECTIONS */

/*
.my-navbar {
  background-color: #252c35;
  height: 150px;
  transition: all .3s ease-in-out;
}
*/

.my-navbar {
  background-color: #292929;
  height: 75px;
  transition: all .3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .my-navbar {
    background-color: #252c35;
    height: auto;
  }
}
/*
@media only screen and (max-width: 768px) {
  .my-navbar {
    background-color: #292929; 
  }
}
*/


/* not being used currently ...
.intro {
  background-color: black;
  color: white;
  text-align: center;
  height: 300px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}


.sec-2a {
  background-color: #f8f8f8;
  border-bottom: 1px rgb(238,238,238) solid;
  color: rgb(102, 102, 102);
  font: 14px sans-serif 300;
  line-height: 20px;
  padding: 60px 0px;
}

.sec-2b {
  background-color: #f1f1f1;
  border: 1px rgb(232, 232, 232) solid;
  color: #666;
  font: 14px sans-serif 300;
  line-height: 20px;
  padding: 60px 0px;
}
*/


/* IMAGES */

.navbar-img {
  height: 80px;
  margin-left: 50px;
  transition: all .3s ease-in-out;
}
@media only screen and (max-width: 992px) {
  .navbar-img {
    height: 50px;
    margin: 2px 0 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-img {
    height: 38px;
    margin: 6px 0 0 20px;
  }
}


.home-circ-img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
@media only screen and (max-width: 768px) {
  .home-circ-img {
    height: 120px;
    width: 120px;
  }
}

.home-sq-img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

/* CONTAINERS */

.intro-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  background-color: #252c35;
  border-bottom: 2px black solid;
  color: white;
}

/* GENERAL */

.col {
  margin-top: 25px;
}

/*
.h3, h3 {
  font-size: 24px;
}

.h1 .h2 .h3 h1 h2 h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;

}
*/

/* BUTTONS */

.home-btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 20px;
}





