/* my css */


/* NAVBAR */

/*
.my-navbar {
  background-color: #252c35;
  height: 150px;
  transition: all .3s ease-in-out;
}
*/

.my-navbar {
  background-color: #292929;
  height: 75px;
  transition: all .3s ease-in-out;
}
@media (min-width: 768px) {
  .my-navbar {
    background-color: #252c35;
    height: auto;
  }
}
/*
@media only screen and (max-width: 768px) {
  .my-navbar {
    background-color: #292929; 
  }
}
*/


/* not being used currently ...
.intro {
  background-color: black;
  color: white;
  text-align: center;
  height: 300px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}


.sec-2a {
  background-color: #f8f8f8;
  border-bottom: 1px rgb(238,238,238) solid;
  color: rgb(102, 102, 102);
  font: 14px sans-serif 300;
  line-height: 20px;
  padding: 60px 0px;
}

.sec-2b {
  background-color: #f1f1f1;
  border: 1px rgb(232, 232, 232) solid;
  color: #666;
  font: 14px sans-serif 300;
  line-height: 20px;
  padding: 60px 0px;
}
*/


/* IMAGES */

.navbar-img {
  height: 80px;
  margin-left: 50px;
  transition: all .3s ease-in-out;
}
@media (max-width: 992px) {
  .navbar-img {
    height: 50px;
    margin: 2px 0 0 10px;
  }
}
@media (max-width: 768px) {
  .navbar-img {
    height: 38px;
    margin: 6px 0 0 20px;
  }
}


.home-circ-img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
@media (max-width: 768px) {
  .home-circ-img {
    height: 120px;
    width: 120px;
  }
}

.home-sq-img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

/* CONTAINERS */

.intro-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  background-color: #252c35;
  border-bottom: 2px black solid;
  color: white;
}


/* GENERAL */
img {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  color: #656565
}

p {
  font-size: 18px;
  margin: 16px 0;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  line-height: 1.42857143;
  color: #666;
}


/* BUTTONS */

.home-btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 20px;
}

/* OTHER */
.spacer-15 {
  width: 1px;
  height: 15px;
  display: block;
  clear: both;
}

/* CUSTOM */

/* line for first section */
.sec-margin {
  margin-bottom: 100px;
  
}
.line-solid {
  clear: both;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px
}
@media (min-width: 768px) {
  .line-solid {
    display: none;
  }
}


/* SECTION 1 */
.p1-box {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 340px;
  height: 300px;
  margin-top: 16px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  padding: 0 25px;
  

  font-family: sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  line-height: 27px;
  text-size-adjust: 100%;
}
@media (max-width: 992px){
  .p1-box {
    width: 273.33px;
    height: 430px;
  }
}
@media (max-width: 768px){
  .p1-box{
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 22.8571px;
  }
}
@media (max-width: 576px){
  .p1-box{
    font-size: 14px;
    line-height: 20px;
  }
}


/* SECTION 2 */
.featurette {
  margin: none;
}
.featurette:nth-of-type(odd) {
  background-color: #f8f8f8;
}
.featurette:nth-of-type(even) {
  background-color: #f1f1f1;
}




.sec2-1 {
  text-align: left;
  border: 1px solid red;
  padding: 60px 0;
  
}

.p2-box {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  text-align: right;

  font-family: sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  line-height: 27px;
  text-size-adjust: 100%;

}




.sec2-2 {
  text-align: right;
  border: 1px solid red;
  padding: 60px 0;
}

.p2b-box {
  border: 1px solid red;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;

  font-family: sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
  line-height: 27px;
  text-size-adjust: 100%;
}










